*{
    margin: 0;
    padding: 0;
}

.display{
    border: 1px solid sienna;
    width: 500px;
    box-sizing: border-box;
}
p{
    color: black;
    font-size: 18px;
    font-family: monaco;
    border-bottom: 1px solid sienna;
}

div{
    display: flex;
    margin: 20px 0;
}

select{
    padding: 4px 8px;
    margin-left: 20px;
    border-radius: 4px;
    border: 1px solid gray;
    box-shadow: 0 0 .5px .5px rgba(0,0,0,.5)
}

.console{
    border-top: 1px solid black;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
}

.Chart{
    word-spacing: -5px;
    letter-spacing: -1px;
    font-weight: 600;
}

#button{
    padding: 10px;
    color: white;
    background-color: rgb(12, 2, 199);
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0;
    float: right;
}

